<P>Mars needs a&nbsp;calendar - using Earth dates just won't do. If I tell you 
it is February 1, you know that it is freezing in Minneapolis and high summer in 
Sydney, but what does it tell you about conditions on Mars?<BR><BR>The idea of a 
Martian calendar and timekeeping system is not original, and many have been 
designed in the past. Edgar Rice Burroughs developed an intricate calendar 
system for his Barsoomian civilization. But the problem with Burrough's, and all 
the successor Martian time systems that I have seen, is that they are not 
physical - they bear no relation to the Martian seasons or to the timekeeping 
needs of Mars surface navigation. Furthermore, the authors of such systems have 
neglected to provide a&nbsp;method of converting Martian dates to terrestrial 
ones, and vice-versa.<BR><BR>Now devising a&nbsp;Martian calendar is a&nbsp;bit 
trickier than it might seem at first. Mars has a year consisting of 669 Martian 
days, or "sols", each of which consists of 24 hours and 39.6 minutes of 
terrestrial time. Most previous calendars have simply divided this up into 
convenient subdivisions, such as 12 months of 55 to&nbsp;56 sols each. 
Time-keeping systems have usually preserved terrestrial clock units, with an 
interstitial partial hour thrown in at some time of the day, or else employed 
some totally novel, usually decimal-based clock.<BR><BR>Such equipartitioned 
months don't work for Mars because Mars orbit is elliptical, which causes it's 
seasons to be of unequal length. And a clock that uses unequal hours would be a 
nightmare for those attempting navigation or astronomy from the Martian surface, 
while a decimal or other novelty would probably be disorienting and in any case 
would a correspondingly complete overhaul of the system of surface geographical 
co-ordinates in order to make it's use convenient.<BR><BR>The practical answer 
to the clock problem is simple - just divide up the Martian day into 24 Martian 
hours, each composed of 60 Martian minutes, each of which is composed of 60 
Martian seconds. The&nbsp;conversion facto between Martian days, hours, minutes, 
and seconds and their terrestrial equivalents would thus be 1.0275 across the 
board. A&nbsp;time of day on Mars, say 9a.m, would have exactly the same 
physical significance with regard to the orientation of the planet towards the 
Sun as it does on Earth. All the equations of celestial navigation would also 
remain valid, although stellar latitude measurements would have to be taken with 
respect to the Martian pole star, which is located at 21.18 hours right 
ascension, 52.89 north declination (about halfway between Deneb and Alpha 
Cephei).<BR><BR>Such a clock solves all the practical problems associated with 
daily time keeping on Mars. Unfortunately, such a clock would annoy Physicists 
who regard the terrestrial second as the sacrosanct fundamental unit of physical 
time. They shouldn't worry - Martian crystallographers and others who require a 
high degree of precision in quoting their measurements of frequencies and 
whatnot can still quote their measurements in terms of terrestrial seconds. The 
Standard International system of physical units can remain intact. However, for 
purposes of operating on Mars, the terrestrial second is no more a useful unit 
of time-keeping than the terrestrial day, and must yield to its Martian 
counterpart.<BR><BR><BR>The calendar is a more interesting problem. In order to 
predict the seasons, a calendar must divide the&nbsp;planet's orbit not into 
equal divisions of days, but into equal angles of travel around the Sun. If we 
want months to be useful units and choose to retain the terrestrial definition 
of a month as a twelfth of a year, then a month really is 30 degrees of travel 
around the Sun.<BR><BR>So, we have our months, but what should we name them? 
Using terrestrial month names could be confusing, and a&nbsp;totally new system 
would be completely arbitrary. However, there is a set of names available which 
has long been universally known to humanity and which has real physical 
significance not only to Mars, but to any planet in our solar system - the signs 
of the zodiac.<BR><BR>All the constellations of the zodiac lie in the plane of 
the planets. Ancient astrologers, having a geocentric (Earth - centered) point 
of view, named the months for whatever zodiacal constellation the Sun appeared 
to be located in as viewed from Earth. An interplanetary culture, though, must 
adopt a heliocentric (Sun - centered) point of view. Therefore, I have chosen to 
name the Martian months for whatever constellation mars would be found in as 
seen from the Sun.<BR><BR>For Martian colonists the sign of the month would be 
seen high in the sky during the midnight hours of a given month. It is currently 
the custom among planetary scientists to start a planet's year with the vernal 
equinox (the beginning of spring in the northern hemisphere, March 21 on 
Earth),and so, consistent with that custom, the Martian year begins with the 
month of Gemini and ends with Taurus.<BR><BR>Now for a complete system of 
dating, it is necessary not only to know he month of a&nbsp;year, &nbsp;but also 
what year it is in some absolute sense - you need some year "I". For this year 
the corresponding terrestrial year is 1961. It happens that the first day of the 
year, 1 January 1961, coincides with the first day of the Martian year, 1 
Gemini. In addition, 1961 was the latest year prior to the commencement of Mars 
exploration where this held true. The notation I've adopted for this calendar 
places the day of the month first, followed by the name of the month followed by 
the year in&nbsp;Roman numerals. Thus the calendar starts with 1 Gemini 
I.<BR><BR>While such a calendar may be interesting, it is still difficult for 
residents of Earth to use, unless a means can be provided to convert Earth dates 
to mars dates. I have invented such a device, which I call an "areogator." You 
can use it to find the month (and therefore season) on Mars during any chosen 
month on Earth, or vice - versa; the relative positions and angles of Earth and 
Mars about the Sun; as well as where in the sky Mars will be as seen from Earth, 
or&nbsp;vice-versa, at any given time in the past or future.<BR><BR>It's my firm 
belief that we now posses the technology that could allow a human landing on 
Mars within 10 years of the time a decision is made to launch the program. It's 
now 1993, and it's worth noting that 2003 would be a particularly good year to 
launch a first Mars expedition, since a low energy trajectory is possible that 
year that would get astronauts to Mars in just 126 days. Launch would take place 
June 22, arrival would be October 26. On arrival at Mars the date will be 46 
Pisces XXIII, and the dust storm season will be drawing to a close. Shortly 
after capture into orbit, the last of the clouds will lift, revealing the 
surface of Mars in fine southern weather, and a landing will be called for. 
It'll be about time.</P>

<a class="btn btn-primary" href="calendar_calculate" role="button">Calculating a Martian Date <span class="glyphicon glyphicon-play" aria-hidden="true"></span></a>

