{% extends "calendar_base.html" %}
{% block content %}

    <div class="container theme-showcase" role="main">

        <h2>Great Dates in Martian History</h2>

            <table class="table">
               <thead>
                  <tr>
                    <th>Occasion</th>
                    <th>Earth Date</th>
                    <th>Mars Date</th>
                  <tr>
                </thead>
                <tbody>
                    <tr>
                        <td>Calendar begins</td>
                        <td>1 January 1961</td>
                        <td>1 Gemini I</td>
                    </tr>
                     <tr>
                        <td>Mariner 4 flyby</td>
                        <td>15 July 1965</td>
                        <td>25 Libra III</td>
                    </tr>
                    <tr>
                        <td>Mariner 6 flyby</td>
                        <td>31 July 1969</td>
                        <td>16 Sagittarius V</td>
                    </tr>
                    <tr>
                        <td>Mariner 7 flyby</td>
                        <td>5 August 1969</td>
                        <td>20 Sagittarius V</td>
                    </tr>
                    <tr>
                        <td>Mariner 9 in orbit</td>
                        <td>14 November 1971</td>
                        <td>20 Pisces VI</td>
                    </tr>
                    <tr>
                        <td>Mars 2 and 3 land</td>
                        <td>2 December 1971</td>
                        <td>38 Pisces VI</td>
                    </tr>
                    <tr>
                        <td>Viking 1 arrives n orbit</td>
                        <td>19 June 1976</td>
                        <td>41 Leo IX</td>
                    </tr>
                    <tr>
                        <td>Viking 2 lands</td>
                        <td>3 September 1976</td>
                        <td>49 Virgo IX</td>
                    </tr>
                    <tr>
                        <td>Mars Observer disappears</td>
                        <td>21 August 1993</td>
                        <td>16 Libra XVIII</td>
                    </tr>
                </tbody>
            </table>
            <a class="btn btn-primary" href="calendar_areogator" role="button">The Mars Areogator <span class="glyphicon glyphicon-play" aria-hidden="true"></span></a>

    </div> <!-- /container -->

{% endblock %}
