{% extends "calendar_base.html" %}
{% block content %}

    <div class="container theme-showcase" role="main">

        <h2>The Mars Areogator</h2>
        <h4>You don't need a sixth sense to determine where Mars is at any given time - just six cents, if you use the areogator.</h4>
        
        <div class="thumbnail">
            <img src="/static/images/marstime/areogator.gif" class="img-responsive">
        </div>

        <P><BR>Lets say you want to know the position of Mars during a given year, 1993 
        for example. Place a penny, representing Mars, on the diamond on Mars' orbit 
        (red) labeled "93", and a nickel, representing Earth, on the diamond on Earth's 
        orbit (blue) at the beginning of January. These were the comparative positions 
        of Earth and Mars around 1 January 1993. Note how close they are together, and 
        that Mars was on the opposite side of the Earth from the Sun. Such an 
        arrangement is called an "opposition," and as a result, Mars was bright and high 
        in the sky around midnight during January 1993. You can also see that it was 
        mid-Gemini, or early spring in the northern hemisphere on Mars at that time. To 
        move forward in time, just move Mars (the penny) forward one diamond and Earth 
        (the nickel) one diamond as well. You can see that by mid-February, Earth has 
        passed Mars, which is now in the month of Cancer. Move the Earth forward four 
        more diamonds to mid-August, the time Mars Observer was due at Mars, and Mars 
        forward four diamonds. You can see that when Mars Observer vanished, it was the 
        middle of the month of Libra, or mid-Summer in the Northern hemisphere on Mars. 
        Counting forward, you can see that it would take four more diamonds before Mars 
        enters the month of Capricorn, the beginning of the dust storm season, and this 
        corresponds to February 1994. You can also see that about that time Mars and 
        Earth will be on opposite sides of the Sun from each other.<BR><BR>If you want 
        to plan a mission for the year 2001, just repeat the procedure , placing your 
        Mars marker at the 01 diamond (in Virgo), and your Earth marker at January 1, 
        and start move them forward in tandem. I've included markers for all years 
        between 1993 and 2007. If you want too know the relative positions of Earth and 
        Mars for years before or after those indicated, just add or subtract any 
        multiple of 15 to the numbers given on the markings (i.e. 1975 is the same as 
        &nbsp;1990, which is the same as 2005, 2020, 2035, etc.)<BR><BR>If you want to 
        know what constellation to find Mars in at night, lay a straight edge between 
        Mars and Earth and then visualize a parallel line extending from the sun in the 
        same direction. Thus, during February 1993, Mars was in the Month of Cancer, but 
        a line parallel to Earth-Mars drawn through the Sun at that time would go 
        through Gemini, and this is the constellation Mars was seen in by observers on 
        Earth at that time. At the same time, any observers located on Mars would have 
        seen Earth in Sagittarius.&nbsp;</P>

        <a class="btn btn-primary" href="calendar_index" role="button">Mars needs a Calendar <span class="glyphicon glyphicon-play" aria-hidden="true"></span></a>

    </div> <!-- /container -->

{% endblock %}
